header {
  background-color: navy;
  color: white;
  margin: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

.home-page {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0 60px 0;
}

body {
  text-align: center;
  margin: 0px;
}

.question-card {
  position: relative;
  width: 50%;
  height: 250px;
  border: 2px solid navy;
  margin: 30px;
  padding: 10px;
}

.question {
  margin: 10px;
}

button {
  padding: 5px;
  margin: 30px;
}

.tags {
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: space-around;
}
.html {
  position: absolute;
  bottom: 0;
}
li {
  list-style-type: none;
  float: left;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  background-color: silver;
  border-radius: 20%;
  bottom: 0;
}

.css {
  position: absolute;
  left: 43%;
}

.flexbox {
  position: absolute;
  left: 20%;
}
.navbar-div {
  position: fixed;
  bottom: 0;
  background-color: gray;
  height: 8%;
  width: 100%;
}

.hide-answer {
  display: none;
}

.navbar-item-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bookmark-icon {
  position: absolute;
  top: -15px;
  right: -10px;
  background-color: white;
}

.home {
  width: 30px;
  height: 30px;
}
.bookmark-footer {
  width: 30px;
  height: 30px;
  bottom: 10px;
  overflow: hidden;
}
.navy-color {
  color: navy;
}
.profile {
  width: 30px;
  height: 30px;
}
